<h1>Public Rants</h1>
<div class="row">
    {{#each rants}}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    {{!-- add edit icon --}}
                </div>
                <div class="card-content center-align">
                    <h5>{{title}}</h5>
                    <p>{{stripHTMLTags (truncateText body 100)}}</p>
                    <br>
                    <div class="chip">
                        <img src="{{user.image}}" alt="">
                        <a href="/rants/user/{{user._id}}">{{user.displayName}}</a>
                        </a>
                    </div>
                </div>
                <div class="card-action center-align">
                    <a href="/rants/{{_id}}" class="btn grey">Read More</a>
                </div>
            </div>
        </div>

    {{else}}
        <p>No public rants available</p>
    {{/each}}
</div>